/*style sheet for newsfeed page*/

.newsfeed-page-container {
}

.newsfeed-page-header-container { 
	background-color: pink;
	height: 3em;
	display: flex;
	align-items: center;
}



.newsfeed-container {
	width: auto;
	max-width: 350px;
}

.new-post-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	margin: 1em 0;
}

.new-post-container textarea {
	width: 100%;
	border: solid black 1px;
}

.new-post-container button {
	margin-left: 0.3em;
	border-radius: 0.3em;
	border: 0;
}

.posts-list-container {

}

.post {
	border:	solid black 1px;
	padding: 0.5em;
	margin-bottom: 1em;
}

.post-header {
	padding: 0 0.5em;
}

.post-content {
	padding: 0 0.5em 1em 0.5em;
}

.post-comments-container {
	padding: 0 0.5em;
}

.comment {
	font-size: 0.9em;
}

.likes-container {
	font-weight: bold;
}

.post-footer {
	padding: 0 0;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
}

.like-button, .reply-button {
	padding: 0.2em 1.5em;
	margin: 0 0 0 0.5em;
	border-radius: 0.3em;
	border: 0;
}