body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    font-size: 20px;
}

h2 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 36px;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.center-paragraph {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 16.7%;
	margin-right: 16.7%;
}

.text-center {
	text-align: center
}
