body {
    /** Your CSS goes here! **/
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h2 {
    /** and here (you get the point) **/
    font-size: 36px;
}

section {
  padding: 80px 20px;
  display: block;
}

.center-paragraph {
  margin: 1em 16%;
}

.text-center {
  text-align: center;
  display: block;
}
