body {
    
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #4D4D4D;



}

h2 {
   
    font-size: 36px;
}

section {
	padding: 80px 20px;
	display: block;
	
}

.center-paragraph {
	margin: 1em 16%;
}

.text-center {
	display: block;
	text-align: center;
}
