.img-title {
	margin-bottom: 2em;
}

.button {
	padding: .6em 1.3em;
	border: 0;
	border-radius: .3em;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	background: linear-gradient(to bottom, #61bd4f, #5aac44);

	box-shadow: 0 2px 0 #3f6f21;
}

.button:hover {
	background: linear-gradient(to bottom, #5aac44, #519839);
}
