.img-title {
  margin-bottom: 2em;
}

.button {
  color: #fff;
  display: inline-block;
  padding-left: 1.3em;
  padding-top: 0.6em;
  padding-right: 1.3em;
  padding-bottom: 0.6em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  font-weight: bold;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 2px 0 #3f6f21;

}

.button:hover {
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
  color: #fff;
}
