section, footer {
    padding: 80px 20px;
}

footer {
   	color: #999;
	font-size: 16px;
}

footer a {
	color: #999;
	font-size: 16px;
}

footer a:hover {
	color: #4d4d4d;
	font-size: 16px;
}

footer ul {
	padding: 0;
}

footer li {
	display: inline-block;
	margin: 0px 7px;
}
