body{

}
.privacy-statement {
	background-color: #fcdda3; 
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 4px 16px 0;
	vertical-align: middle
	height: 100%;
	width: 100%;

}
.main-image img{
	width: 100%;
	size: cover;
}
.main-image{
	padding: 0;
	position: relative;
	background-size: cover;
	display: inline-block;
}
.projects{
	padding: 0;
	border: 0;
	margin: 0;
}
section{
	padding:0;
	display:inline-block;
}
}
header ul{
    padding: 0;
}

header{
	width: 100%;
	margin-left: 0;
	display: inline-block;
}
header a{
	font-size: 14px;
	color:#80809E;
	text-decoration: none;
	display: inline-block;
}
header li{
	padding: 20px 15px 20px 15px;
	display: inline-block;
}
.search input{
	border: none;
}
