.privacy-statement {
	background-color: #fcdda3; 
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 4px 16px 4px;
	vertical-align: middle
	height: 100%;
	width: 100%;

}
header ul{
    padding: 0;
    list-style: none;
}
header{
	width: 100%;
	position: relative;
	white-space: nowrap;
}
header li{
	padding: 20px 15px 20px 15px;
	margin-right: 6%;
	display: inline-block;
	vertical-align: baseline;
}

.row {
	overflow: auto;
	margin-right: -20px;
	margin-left: -20px;
}
.right{
	float: left;


}
.right img{


}
.left{
	float: left;

}
.left img{

}