.privacy-statement {
	background-color: #fcdda3; 
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 4px 16px 4px;
	vertical-align: middle
	height: 100%;
	width: 100%;

}
header ul{
    padding: 0;
    list-style: none;
}
header{
	width: 100%;
	position: relative;
	white-space: nowrap;
}
header a{
	text-decoration: none;
}
header li{
	padding: 20px 15px 20px 15px;
	margin-right: 6%;
	display: inline-block;
	vertical-align: baseline;
}

.row {
	overflow: auto;
	margin: 10px auto;
	position: relative;
}

.dancer img{
	margin-left: 5%;
}
.dance-header{
	margin-left: 8%;
}
.main{
	height: 800px;
	width: 100%;
	background-size: cover;
	background-image: url("https://raw.githubusercontent.com/horizons-school-of-technology/week02/master/day1/6_horistarter/screenshots/03-hero.png?token=ARcy_doRWz9LrK_m_Yz8nFeBtW1wWXEsks5XXxycwA%3D%3D");
	background-repeat: no-repeat;
	background-position: center;
}

.columns{
	margin-left: 25%;
	font-size: 22;
}
.bottom{
	height: 300px;
	width: 100%;
	background-color: #020621;
	color: white;
}