@import url(https://fonts.googleapis.com/css?family=Cabin:500,600,700);

body {
    line-height: 18px;
    height: 100vh;
    background:rgb(0,121,191);
    font:sans-serif;
    
    /** PHASE 1 CSS here */
}

header {
    position: relative;
    overflow: hidden;
    padding:5px;
    height:40px;
    background: rgba(0,0,0,.15);

    /** PHASE 1 CSS here */
}

.header-logo {
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    position: absolute;
    width: 5pc;
    height: 30px;
    z-index: 2;
    opacity: 0.5;
    transition: opacity ease-in 85ms;
}

.header-logo-default {
    background-image: url(../../img/title.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 5pc 30px;
    right: 0;
    top: 0;
    height: 30px;
    width: 5pc;
    position: absolute;
}

a {
    background-color: transparent;
}


/* BOARD */

.add-list-container {
    padding: 5px;
}

.add-list {
    /** PHASE 1 CSS here */
    background:rgba(0,0,0,.12);
    color:#fff;
    min-height:30px;
    border-radius:3px;
    margin:5px 5px;
    width:280px;
    padding:7px;
}

.add-list:hover {
    /** PHASE 1 CSS here */
}

.add-list-form {
    /** PHASE 4 CSS here */
}

.board {
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 40px);
    padding-bottom: 1em;
    display:flex;
    flex-direction:row;

    /** PHASE 2 CSS here */
}


/* LISTS */

.list-container {
    height: 100%;
}

.list {
    box-sizing: border-box;
    max-height: 100%;
    padding:.5em;
    margin:5px 5px;
    border-radius:3px;
    width:270px;
    background:#e2e4e6;
    display:flex;
    flex-direction:column;

    /** PHASE 2 CSS here */
}

.list-header {
    display: block;
    position: relative;
    margin-bottom:.5em;
    color:black;
    font-weight:700;

    /** PHASE 2 CSS here */
}

.list-footer {
    /** PHASE 2 CSS here */
    font-weight:500;
}

.list-title {
    /** PHASE 2 CSS here */
}

.add-card {
    /** PHASE 2 CSS here */
    height:40px;
    border-radius:4px;
    text-align:left;
    background:rgba(16,16,16,.15);
    color:#333;
    margin:3px 0;
    width:100%;
}

.add-card:hover {
    /** PHASE 2 CSS here */
    background:rgba(96,96,96,.15);
}


/* CARDS */

.list-cards {

    overflow-y:scroll;
    min-height: 0;

    /** PHASE 3 CSS here */
}

.card {
    margin-bottom:.5em;
    background:white;
    border-radius:3px;


    /** PHASE 3 CSS here */
}

.card-body {
    padding:.5em .5em 2em .5em;
    font:Cabin, Arial, sans-serif;
    font-size:16px;
    line-height:1.5em;
   
    /** PHASE 3 CSS here */
}

.card-more {
    padding-left:6px;
    /** PHASE 3 CSS here */
}
.well{
  padding:5px 5px;
}


/** PHASE 4 CSS here: add card form */