@import url(https://fonts.googleapis.com/css?family=Cabin:500,600,700);

body {
    line-height: 18px;
    height: 100vh;
    background-color: rgb(0,121,191);
    font-family: sans-serif;
    margin: 0px;
    /** PHASE 1 CSS here */
}

header {
    background-color: rgba(0,0,0,.15);
    position: relative;
    overflow: hidden;
    padding: 5px;
    height: 40px;
/*    opacity: .15;
*/
    /** PHASE 1 CSS here */
}

.header-logo {
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    position: absolute;
    width: 5pc;
    height: 30px;
    z-index: 2;
    opacity: 0.5;
    transition: opacity ease-in 85ms;
}

.header-logo-default {
    background-image: url(../../img/title.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 5pc 30px;
    right: 0;
    top: 0;
    height: 30px;
    width: 5pc;
    position: absolute;
}

a {
    background-color: transparent;
}


/* BOARD */

.add-list-container {
    padding: 5px;
}

.add-list {
    background-color: rgba(0,0,0,.12);
    color: #fff;
    height: auto;
    min-height: 30px;
    margin: 5px 5px;
    width: 320px;
    padding:7px;
    border-radius: 3px;
    text-align: left;
}

.add-list:hover {
    /** PHASE 1 CSS here */
    background: rgba(0,0,0,.20);
}

.add-list-form {
    /** PHASE 4 CSS here */
}

.board {
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 40px);
    padding-bottom: 1em;
    display: flex;
/*    flex-direction: column;
*/    /** PHASE 2 CSS here */
}

/* LISTS */

.list-container {
    height: 100%;
/*    display: flex;
*/}

.list {
    box-sizing: border-box;
    max-height: 100%;
    padding: .5em;
    margin: 5px 5px;
    border-radius: 3px;
    width: 270px;
    background-color: #e2e4e6;
    display: flex;
    flex-direction: column;
    /** PHASE 2 CSS here */
}

.list-header {
    display: block;
    position: relative;
    margin: 0 0 .5em 0;
    color: black;
    font-weight: 700;
    /** PHASE 2 CSS here */
}

.list-footer {
    font-weight: 500;
    /** PHASE 2 CSS here */
}

.list-title {
    /** PHASE 2 CSS here */
}

.add-card {
    height: 40px;
    border-radius: 4px;
    text-align: left;
    background-color: rgba(16,16,16,.15);
    width: 100%;
    color: #333;
    margin: 3px 0px;
    /** PHASE 2 CSS here */
}

.add-card:hover {
    background-color: rgba(96,96,96,.15);
    /** PHASE 2 CSS here */
}


/* CARDS */

.list-cards {
    min-height: 0;

    /** PHASE 3 CSS here */
}

.card {
    background: white;
    margin: 0 0 .5em 0;
    border-radius: 3px;
    /** PHASE 3 CSS here */
}

.card-body {
    padding: .5em .5em 2em;
    font-family: Cabin, Arial, default sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    /** PHASE 3 CSS here */
}

.card-more {
    float: left;
    /** PHASE 3 CSS here */

}

/** PHASE 4 CSS here: add card form */

.well {
    margin: 0px;
    padding: 5px;
}

.form-group{
    margin: 0px;
    padding: 0px 0px 5px;
}

#remove{
    margin: 1.5px .5px 1.5px .5px;
    padding: 1.5px .5px 1.5px .5px;
}