<!-- display-three: pay/charge, newsfeed, and profile -->
<div class="display-three">
  <div class="display-three-left">
    {{> pay-charge}}
  </div> <!--  display-three-left -->
  <div class="display-three-right">
    <!-- {{> three-right}} -->
  </div> <!--  display-three-right -->
</div> <!-- display-three -->
