@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:500,600,700);

body {
    background-color: rgb(0,121,191);
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*background: #1F3A93;*/
    /*background: linear-gradient(to bottom, #1F3A93 0%, #2b4fc4 100%);*/
    /*font-family: Open Sans;*/
}

header {
    background: rgba(0,0,0,.15);
    padding: 5px;
    height: 40px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.header-logo {
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    position: absolute;
    width: 5pc;
    height: 30px;
    z-index: 2;
    opacity: 0.5;
    transition: opacity ease-in 85ms;
}

.header-logo-default {
    background-image: url(../img/title.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 5pc 30px;
    right: 0;
    top: 0;
    height: 30px;
    width: 5pc;
    position: absolute;
}

a {
    background-color: transparent;
}

.example-card {
    position: relative;
    margin: 0 auto;
    top: 15vh;
    width: 350px;
}


/* LISTS */

.list-container {
    /*width: 270px !important;*/
}

.list {
    box-sizing: border-box;
    width: 270px;
    padding:  1em;
    margin: 5px 5px;
    border-radius: 3px;
    background: #e2e4e6;
}

.list-header {
    display: block;
    position: relative;
    margin-bottom: 1.5em;
    /*   box-shadow: 0 1px 10px -5px #333; */
    color: black;
    font-weight: 700;
    /*   width: calc(100% - 2em); */
}

.list-footer {
    font: initial;
    font-weight: 500;
}

.list-button {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 4px;
}

.list-title {
    /*   position: absolute; */
    left: 0;
}

.list-util {
    position: absolute;
    right: 0;
}

.add-card {
    text-align: left;
    background: rgba(16, 16, 16, 0.15);
    color: #333;
}

.add-card:hover {
    background: rgba(96, 96, 96, 0.15);
}

/*
 * CARDS
 */

.card {
    margin: 0 auto;
    margin-bottom: 1em;
    background: white;
    position: relative;
}

.card-shadow {
    box-shadow: 0 10px 25px -15px #333;
}

.card-header {
    display: block;
    position: relative;
    padding: 1em;
    border-bottom: 1px solid #eee;
    /*   box-shadow: 0 1px 10px -5px #333; */
    color: black;

    width: calc(100% - 2em);
    font-size: 13.333px;
}

.card-header .title {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.card-header .note {
    position: absolute;
    right: 1em;
    color: #777;
}

.card-body {
    display: block;
    padding: 1em 1em 2em;
    font-family: Cabin;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
    transition: 0.5s all;
}

.card-more {
    position: absolute;
    left: 6px;
    bottom: 6px;
}

.card-body * {
    margin-bottom: 1em;
}

.card-body-input {
    outline: 0;
    -webkit-appearance: none;
    background: transparent;
    whitespace: pre-wrap;
}

.card-body-input-ta {
    border: 0;
    outline: 0;
    display: block;
    width: calc(100% - 4em);
    -webkit-appearance: none;
    background: transparent;
    whitespace: pre-wrap;

    resize: vertical;
    font-family: Cabin;
    font-size: initial;
    line-height: initial;
}

/* CARD FOOTER */

.card-footer {
    display: block;
    border-top: 1px solid #eee;
    width: 100%;
    overflow: hidden;
}

/* CARD BUTTONS */

.card-footer .card-button {
    padding: 0 1em;
    height: 50px;
    border: 0;
    /*   border-left: 2px solid #bbb; */
    outline: 0;
    background: transparent;

    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-family: Open Sans;

    transition: 0.2s color, 0.2s background-color;
}

.card-footer .button-group {

}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.card-footer .card-button:hover {
    color: #ff0040;
    /*   background: #ff0040; */
}

.card-footer .card-button:active {
    color: #b3002d;
    /*   background: #b3002d; */
}

.card-operation {
    background-color: #edeff0;
    /*   background-clip: padding-box; */
    /*   background-origin: padding-box; */
    /*   border-radius: 3px; */
    opacity: .8;
    padding: 4px;
    position: absolute;
    right: 3px;
    top: 3px;
    /*   visibility: hidden; */
}

.icon-util:before {
    content: "...";
}

.icon-edit:before {
    content: "E";
}

/*.row, .container-fluid {*/
    /*overflow-x: scroll;*/
/*}*/

.content {
    flex-grow: 1;
    display: flex;
    overflow-x: scroll;
    height: 100%;
}

.container-fluid {
    width: 100% !important;
    overflow-x: scroll;
}