@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:500,600,700);

body {
    /** Your CSS here */
}

header {
    /** Your CSS here */
}

.header-logo {
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    position: absolute;
    width: 5pc;
    height: 30px;
    z-index: 2;
    opacity: 0.5;
    transition: opacity ease-in 85ms;
}

.header-logo-default {
    background-image: url(../img/title.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 5pc 30px;
    right: 0;
    top: 0;
    height: 30px;
    width: 5pc;
    position: absolute;
}

a {
    background-color: transparent;
}

.board {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 40px);
    padding-bottom: 1em;
}

.add-list {
}

/* LISTS */

.list-container {
    height: 100%;
}

.list {
    box-sizing: border-box;
    max-height: 100%;

    /* Your CSS here */
}

.list-header {
    display: block;
    position: relative;

    /* Your CSS here */
}

.list-cards {
    /* Your CSS here */
}

.list-footer {
    /* Your CSS here */
}

.list-title {
    /* Your CSS here */
}

.add-card {
    /* Your CSS here */
}

.add-card:hover {
    /* Your CSS here */
}

/*
 * CARDS
 */

.card {
    margin: 0 0 .5em;
    background: white;
    position: relative;
    border-radius: 3px;
}

.card-shadow {
    box-shadow: 0 10px 25px -15px #333;
}

.card-body {
    display: block;
    padding: .5em .5em 2em;
    font-family: Cabin;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
    transition: 0.5s all;
}

.card-more {
    position: absolute;
    left: 6px;
    bottom: 6px;
}

.card-body * {
    margin-bottom: 1em;
}
