#navtable {
 font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
 padding: 10px 0;
}

p {
 font-size: 14px;
 display: inline;
 padding: 10px 20px;
 margin-bottom: 30px;
 font-weight: 500;
}

p:hover {
 border-bottom: 4px #25CB68 solid;
}

#content {
 font-size: 20px;
}

li {
 list-style-type: none;
 font-size: 20px;
}

.bar {

}

.left{
 width: 400px;
 text-align: left;
}

.right {
 width: 400px;
 text-align: right;
}
