/*Header*/
#navtable {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  padding: 10px 0;
}

table p {
  font-size: 14px;
  display: inline;
  padding: 10px 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.left {
  text-align: left;
  width: 400px;
}

.right {
  text-align: right;
  width: 400px;
}

#image-logo {
  text-align: center;
}

p:hover {
  border-bottom: 4px #25CB68 solid;
}

/*Carousel*/
div.hero-banner {
   background: url("https://d3mlfyygrfdi2i.cloudfront.net/aae8/kat-and-ibin.jpg") no-repeat 100%;
   height:500px;
   background-size: cover;
   text-align: center;
}

#background-image {
  font-size: 50px;
  font-family: Helvetica Neue,Arial, sans-serif;
  font-weight: normal;
  vertical-align: text-bottom;
  color: white;
  display: block;
  padding-top: 200px;
  margin-top: 0px;
}

#background-image-h2 {
  font-size: 30px;
  font-family: Helvetica Neue,Arial, sans-serif;
  font-weight: 100;
  vertical-align: text-bottom;
  color: white;
  margin-top: -10px;
  padding-left: 30%;
  padding-right: 30%;
}

a {
  font-family: Helvetica Neue,Arial, sans-serif;
  font-weight: 200;
   text-decoration: none;
   color: white;
   background: #2BDE73;
   border-radius: .3em;
   border: 0;
   padding-left: 1.3em;
   padding-right: 1.3em;
   padding-top: .6em;
   padding-bottom: .6em;
   Helvetica Neue,Arial, sans-serif;
}

#background-image-button {
  vertical-align: text-bottom;
  display: inline-block;
}

html, body {
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

.featured ul {
  text-align: left;
  display:table-cell;
}

.featured {
  text-align: center;
  height: 300px;
  margin-top:0px;
  display: block;
}
