body {
	font-family:'Helvetica Neue',Helvetica,Arial,
	'Liberation Sans',FreeSans,sans-serif;
	color: #020621;
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-margin-before: 0;
}
p {
	margin: 0 0 10px 0;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
header {
	height: 60px;
	background-color: #FFF;
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border-bottom: solid 1px #F1EEEA;
}
header li {
	float: left;
	display: inline-block;
	/*margin: 0px 7px;*/
	position: relative;
	padding-right: 20px;

}
span ul li {
	display: block;
	padding-top: .3em;
}
footer {
	font-size:10px;
	text-align: center;
	font-weight: bold;
}
a {
	color: #020621;
	text-decoration: none;
}
a:visited {
	color: #aaa;
	text-decoration: none;
}
img.siteLogo {
	padding-top: 13px;
	display: block;
	text-align: center;
	padding-right: 40px;
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 19px;
	max-width: 159px;
}
.pawject {
	max-width: 140px;
	top: 7px;
	position: relative;
}
.divCat {
	display: inline-block;
	vertical-align: top;
	padding-right: 50px;
	max-width: 400px
}
.navMenuElt {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 10px
}
.nav_search {
	border-left: solid 1px #F1EEEA;
    color: #3D3D66;
    display: block;
    height: 100%;
    padding: 13px 0px 26px 30px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.kinformation {
	display: inline-block;
	padding-right: 20px;
	font-size: 13px;
	padding-top: 0;
}
.horizList {
	font-size: 12px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 45px;
}
.vegetaKat {
	background: url(vCat.gif);
	height: 400px;
}
.middlekat {
	display: inline-block;
	position: relative;
	padding-right: 490px;
}
#purpleLink:hover {
	color: #3D3D66;
	background-color: #F7F5F2;
}
#purpleLink {
	color: #80809E;
}
#flipTag {
	max-width: 15px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}
#login {
	padding: 3px 0 10px 10px;
	color: #2752Ff;
}
#kat {

	color: #fff;
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)),
	  url('kat.jpg');
	background-size: cover;
	font-weight: normal;
	margin: 0;
	align-items: center;
	position: relative;
}
#katitle {
	padding-top: 100px;
	-webkit-margin-before: 0;
	font-size: 100px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}
#katontent {
	-webkit-margin-before: 0;
	font-size: 45px;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 150px;
}
#sideKat {
	color: #020621;
}
#sidekat:hover {
	color: #2BDE73;
	text-decoration: underline;
}
#secondkat {
	height: 325px;
	padding: 20px 20px 30px 40px;
	float: left;	
}
#progress {
	width: 400px;
	height: 5px;
	background: #2BDE73;
}
/*
black body - #020621














*/