#navcontainer ul
{
  margin: 15px;
  padding: 0;
  list-style-type: none;
}

#navcontainer ul li {

    display: inline-block;
}

#navcontainer ul li a {
  text-decoration: none;
  padding: .3em 1em;
  color: #00008B;
  background-color: #fff;
}

#navcontainer ul li a:hover{
  color: #00008B;
  background-color: #fff;
}


.left{
  width: 33%;
  float: left;

}

.middle{
  width: 33%;
  float: left;
}



.right{
  width: 33%;
  float: left;
}

.footer{


}

.menu{

  list-style-type: none;
  background-color: #1e0033;

}

a{
  text-decoration: none;
  color: #F0F8FF;
}

.large-image{
  width: 100%;
}

.leftmenu{

  display: inline-block;
  float: left;
  width: 33%;
}

.midmenu{

  display: inline-block;
  float: left;
  width: 33%;


}

.rightmenu{

  display: inline-block;
  float: left;
  width: 33%;

}

.center-paragraph {
  margin: 1em 16%;

}

.button {
  padding: 0.6em 1.3em;
  border: 0;
  border-radius: 0.3em;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(to bottom, #61bd4f, #5aac44 100%);
  box-shadow: 0 2px 0 #3f6f21;

}

.button:hover {

  color: #fff;
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);

}
