.img-title {
  margin-bottom: 2em;
}

.button {
  background: linear-gradient(#61bd4f, #5aac44);
  box-shadow: 0px 2px 0 #3f6f21;
  border: 0;
  padding: 0.6em 1.3em;
  border-radius: 0.3em;
  margin-bottom: 0.8em;
  font-weight: bold;
  color: #fff;
}

.button:hover {
  background: linear-gradient(#5aac44, #519839)
}
