.tile {
  display:flex;
  border:1px solid black;
  justify-content: center;
  padding:80px 50px;
  margin: 0px 40%;
  text-align: center;
}

.countSection{
  display:block;
  border:3px dotted green;
  position:fixed;
  text-align: center;
}
