body {
	color: #222;
	display: flex;
	justify-content: center;
}
#count {
	position: fixed;
	top: 0;
	right: 20px;
}
#status {
	position: fixed;
	top: 40px;
	right: 20px;
}
#cards {

}
#user {
	background-color: #222;
	color: #ddd;
	margin: 5px;
	width: 150px;
	height: 150px;
	display:flex;
	align-items: center;
	justify-content: center;
}
#user:hover {
	background-color: #ddd;
	color: #222;
}