<!-- Comments on posts with Modals  -->
<div class="part-four">
  <div class="modal fade" id="card-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close card-edit-cancel" data-dismiss="modal"
                                              aria-label="Close"><span
                                              aria-hidden="true">&times;</span></button>
          <h3>Create a reply</h3>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="5" id="card-edit-body" placeholder="Type reply here"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default card-edit-cancel" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-primary card-edit-save">
            Reply
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
