<!-- display-two: Post your Post & Logout -->
<div class="display-two collapse">
  <div class="logout-container collapse">
    <button type="submit" id="logout-button">Logout</button>
  </div>
  <div class="post-post-container">
    <input placeholder="Content..." class="input-lg" id="input-post">
    <button type="submit" id="post-post-button">Post</button>
  </div>
  <!--  Newsfeed -->
  <div class="part-two">
    <div class="newsfeed container-fluid col-sm-6 col-sm-offset-2">
      <!--  RENDER POSTS HERE :) -->
    </div>
  </div>
</div> <!--  display-two -->
