<!-- New User Registration and Login -->
<div class="display-one">
  <legend style="text-align: center">
    New User Registration
  </legend>
  <div class="container-fluid">
    <form class="well form-horizontal register-form">
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <div class="input-group">
            <input type='text' class='form-control' placeholder="First name">
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <div class="input-group">
            <input type='text' class='form-control' placeholder="Last name">
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <div class="input-group">
            <input type='email' class='form-control' placeholder="Email">
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <div class="input-group">
            <input type='password' class='form-control' placeholder="Password">
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <button type='submit' id='register-button'>Register</button>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <button id='login-button-1'>Login</button>
        </div>
      </div>
    </form>

    <form class="well form-horizontal login-form collapse">
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <div class="input-group">
            <input type='email' class='form-control' placeholder="Email" id="loginEmail">
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <div class="input-group">
            <input type='password' class='form-control' placeholder="Password" id="loginPassword">
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4'>
          <button id='login-button-2' type='submit'>Login</button>
          <button id='go-to-registration' class='col-sm-offset-2'>Go to registration</button>
        </div>
      </div>
    </form>
  </div> <!-- container fluid -->
</div> <!-- display-one -->
