<div class="float-right">
  <div class="profile">
    <div class="profile-image">
      <img src="/images/jeff_grandma.jpeg" alt="jeff and grandma">
    </div>
    <div class="edit-profile">
      <a href="#"><b>Jeff Tang</b></a><br>
      <a href="#">Edit Profile</a>
    </div>
  </div>
  <div class="account-balance">
    <b>$33.02</b> | <a href="#">Transfer to Bank</a>
  </div>
</div>

<div class="friends float-right">
  <div>
    <a href="#"><b>Friends</b></a> <span style="color: gray; font-size: 0.9em">(596)</span>
    <div class="friends-thumb-container">
      <img src="/images/nikita.jpg" alt="nikita">
      <img src="/images/mason.jpg" alt="mason">
      <img src="/images/hassan.jpg" alt="hassan">
      <img src="/images/rob.jpg" alt="rob">
    </div>
  </div>
</div>

<div class="integrations float-right">
  <a href="#"><b>Integrations</b></a>
  <div class="integrations-container">
    <a href="#"><img src="/images/coinbase.png" alt="coinbase"></a>
    <a href="#"><img src="/images/venmo.png" alt="venmo"></a>
    <a href="#"><img src="/images/robinhood.jpeg" alt="robinhood"></a>
    <a href="#"><img src="/images/gdax.png" alt="gdax"></a>
  </div>
</div>
