/* space button out from textbox*/
.buttonSpacing {
  margin-top: 15px;
}
/* float the button to the right and make sure its spaced out from the textbox */
.buttonSpacingRight {
  margin-top: 15px;
  float:right;
}

.floatRight {
  float:right;
}

:root {
  --scale-size: 1.3;
}

#sidenavbar {
  width:25%; /*25% of width only*/
}

#mainContentView {
  position:relative;
  z-index: 998;
  display: none;
}

.modal {
  position:fixed;
  z-index:999;
}

.fullHeight {
  height: 100vh;
}

#secondaryBar {
  width:25%
}

#content {
  margin-left:25%;
  position:sticky;
}


/* Scale everything up 1.3x normally */
body {
    zoom: var(--scale-size);
    -moz-transform: scale(var(--scale-size));
    -moz-transform-origin: 0 0;
    transition: zoom 5s ease 5s;
}

#navbar {
  z-index: 999; /*always on top */
  position: sticky; /* stickify */
  top: 0px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
