body {
    text-align: center;
}

.title {
    color: purple;
}

a{
  color: gray
}

.nav {
  position: relative;
  float: right;
  font-size: 20px;
  text-decoration: none;
  text-decoration-line: none;
  font-weight: lighter;
}



.title{
  padding: 10%
}

button {
  border: 1px solid;
  color: gray;
  padding: 10px;
  margin:10px;
}

input {
  width: 50%;
  height: 20px;
}

footer {
    background-color: rgb(242,242,242);
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    height: 4%
}

footer .left-footer{
    float: left
}

footer .right-footer{
    float: right
}

footer a {
    margin: 10px
}
