/* 2. Toolbar */

.header-logo {
    float: left;
    font-weight: 700;
    background-color: blue;
    width: 33%;
}

.header-logo:hover {
    color: rgb(204, 224, 237);
}

.header-left {
    float: left;
    display: block;
    background-color: red;
    width: 33%;
}

.header-toolbar {
    float: right;
    text-align: right;
    color: #fff;
    background-color: rgb(127, 178, 209);
    border-radius: 3px;
    width: 33%;
}
