div {
  text-align: center;
  border: 1px solid gray;
  
}

.c1 {
  justify-content: center;
  flex-direction: row;
  height: 100px;
  width: 200px;
  display: flex;

    
}

.c2 {
  height: 100px;
  width: 200px;
  display: flex;
  text-align: center;
}

.d {
 text-align: center;
  justify-content: center;
}


.d2 {
  flex:1;
  background-color: green;

}

.d3 {
flex:1;
  background-color: yellow;
}

.d4a {
flex:1;
  background-color: blue;
 
}

.d4b {
  flex:1;
  background-color: blue;
 
}

@media (max-width:550px){
  .c1{
    flex-direction: column;
  }
  .d4a{
    order:1;
  }
  .d4b{
    order:1;
  }
}