body {
  background: #3399ff;
}

#board {
  display: flex;
}

#col-1 {
  flex: 1;
}

#col-2 {
  flex: 2;
}

#col-3 {
  flex: 1;
}

#new-post-outer-1 {
  margin-top: 10px;
  height: 150px;
  background: #e4e4e4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#new-post-outer-2 {
  margin-top: 10px;
  height: 70px;
  background: #e4e4e4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tweet {
  margin-top: 10px;
  height: 120px;
  background: #e4e4e4;
  border-radius: 5px;
  display: flex;
  padding-top: 10px;
}

.new-post-input {
  flex: 1;
  margin: 10px;
  border-radius: 5px;
}

#new-post-text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.num {
  font-size: 20px;
  font-style: bold;
  padding-left: 10px;
  padding-right: 5px;
}

.stat-text {
  font-size: 10px;
}

#stats {
  display: flex;
  align-items: center;
}

#submit-button {
  margin: 10px;
}

#right-side-text {
  display: flex;
  align-items: center;
  font-size: 15px;
}

#submit-button {
  border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #eee;
}

.nav-inner {
  display: flex;
}

img {
  padding-left: 10px;
  height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-left {
  flex: 1;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-search {
  width: 150px;
  border-radius: 5px;
  height: 25px;
  margin-right: 10px;
}

.photo {
  height: 100;
  flex: 1;
  padding-right: 10px;
}

.post-text {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.all-the-text {
  display: flex;
  flex: 6;
  flex-direction: column;
}

.user {
  flex: 6;
}

.date {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.content {
  padding-top: 10px;
}

.expand {
  padding-top: 20px;
  text-decoration: none;
}
