.left-menu{
  float:left;
}

.center-menu{
  float:left;
  margin-left:30px;
}
.right-menu{
  float:left;  
}
/*
li{*/
  /*background-color: black;*/
/*  font-family: "Helvetica Neue",Arial,sans-serif;
  float:left;
  display: block;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
}*/

.logo{
  padding:14px;
}

li.last-item:{
  padding-right: 50px;
}


.middle-menu li{

}

/*hello*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}



