body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #4d4d4d;
}

h1 {
	font-size: 35px;
}
h2 {
    font-size: 25px;
}
h3 {
	font-size: 20px; 
}
.top-container{
    text-align: center;
}
.main-container {
    text-align: center;
}
.project{
    margin-bottom: 40px;
}

.h3-header {
    margin: 0 20px;
}

.h1-header{
    margin: 0 20px;
}

.h2-header{
    margin: 0 20px;
    background-color: #e4f0f6;

}

.bottom-part {
    text-align: center;
    position: relative; 
    top: 0; 
    left: 0; } 


.bottom-r{
    position: absolute; 
    top: 180px; 
    right: 320px;
}

.social {
    text-align: center;
}