/* 1. Top */

body {
    /*font-family: sans-serif;*/
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4d4d4d;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    margin: 0;
}

div {
    /*display: block;*/
    padding: 4em 1em;
}

div img {
    margin: 1em auto;
    max-width: 100%;
    padding: 2em 3em 2em;
    box-sizing: border-box;
}

img {
    margin-bottom: 2em;
}

footer {
    color: #999;
    margin: 4em 1em;
    font-size: 0.8em;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #000;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 0.4em;
}

.background-dark-blue {
    color: #fff;
    background-color: #0079bf;
}

.background-light-blue {
    background-color: #e4f0f6;
}

.center-paragraph {
    margin: 1em 16%;
}

.section-wrapper {
    margin: 0 auto;
    padding: 0;
}

.text-center {
    text-align: center;
}

.button {
    padding: 12px 26px;
    background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
    box-shadow: 0 2px 0 #3f6f21;
    color: #fff;
    border-radius: .3em;
    display: inline-block;
    font-weight: bold;
    margin-bottom: .8em;
    padding: .6em 1.3em;
    position: relative;
    border: 0;
}
