/* 1. Top */

body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4d4d4d;
}

a {
    color: #5e98ba;
}

a:hover {
    color: #265773;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    margin: 0;
}

body > div {
    padding: 4em 1em;
    clear: left;
}

.layout-fill-img {
    margin: 1em auto;
    max-width: 100%;
    padding: 2em 3em 2em;
    box-sizing: border-box;
}

img {
    margin-bottom: 2em;
    vertical-align: middle;
}

.img-float-left {
    float: left;
    margin-right: 40px;
}

footer {
    color: #999;
    margin: 4em 1em;
    font-size: 0.8em;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #000;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 0.4em;
}

.background-white {
}

.background-dark-blue {
    color: #fff;
    background-color: #0079bf;
}

.background-light-blue {
    background-color: #e4f0f6;
    overflow: hidden;
}

.center-paragraph {
    margin: 1em 16%;
}

.layout-grid-frame {
    position: relative;
    max-width: 890px;
    margin: 0 auto;
}

.layout-callout-right {
    position: absolute;
    overflow: hidden;
    top: -3em;
    left: 640px;
}

.layout-callout-right img {
    max-width: initial;
}

.layout-twothirds-left {
    max-width: 585px;
}

.section-wrapper {
    margin: 0 auto;
    padding: 0;
}

.text-center {
    text-align: center;
}

.button {
    padding: 12px 26px;
    background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
    box-shadow: 0 2px 0 #3f6f21;
    color: #fff;
    border-radius: .3em;
    display: inline-block;
    font-weight: bold;
    margin-bottom: .8em;
    padding: .6em 1.3em;
    position: relative;
    border: 0;
}

.button:hover {
    background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
    color: #fff;
}

.app-store-link {
    display: inline-block;
    vertical-align: top;
    margin: .4em 1em 0 0;
    padding: 0;
}

.app-store-link img {
    height: 54px;
    margin: 0;
}

.outline-link {
    border: 1px solid;
    border-radius: 0.3em;
    display: inline-block;
    padding: .7em 1em;
    text-decoration: none;
    margin: .4em 0 0;
}