section {
  padding: 80px 20px;
}

footer {
  padding: 80px 20px;
  font-size: 16px;
  color: #999;
}

footer a {
  color: blue;
}

footer a:hover {
  color: purple;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline-block;;
  margin: 7px 7px;
}
