section {
    padding: 80px 20px;
}

footer {
    padding: 80px 20px;
    font-size: 16px;
    color: #999;
}

footer a {
    color: #89888a;
}

footer a:hover {
    color: #525152;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 7px;
}
