section, footer {
    padding: 80px 20px;
}

footer {
  font-size: 16px;
  color: #999;
}

footer a {
  color: inherit;
}

footer a:hover {

}

footer ul {
  padding: 0;
}

footer li {
  display: inline-block;
  margin: 0 7px;

}
