.background-dark-blue {
<<<<<<< HEAD
  background-color: #0079bf;
  color: #fff;
=======
  color: #fff;
  background-color: #0079bf
>>>>>>> bf9dbd6001e57a0a9857a50cc700a370906b1368
}

.layout-fill-img {
  padding: 40px 60px 40px 60px;
  max-width: 100%;
  box-sizing: border-box;
}

.center-paragraph {
<<<<<<< HEAD
    margin: 1em 16%;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
=======
  margin: 1em 16%;
>>>>>>> bf9dbd6001e57a0a9857a50cc700a370906b1368
}
