/* ADD STYLES FOR PART 6 HERE */
.background-lightblue {
  background-color: #e4f0f6;
}

.center-text {
  text-align: center;

  diplay: inline-block;
  width: 66vw;
}

.devices {
  float: right;
  position: absolute;
  top: -50px;
  left: 670px
}

#see-apps {
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 275px;
  height: 45px;
  width: 150px;
  background-color: #e4f0f6;

  border-radius:10%
}

#footer-section-paragraph{
  width: 50vw;
}
