/* Your CSS goes here! */

section {
	padding: 0 20px;
}
@media (min-width: 650px) {
	section{
	padding: 40px 20px;
	}
}
@media (min-width: 900px){
	section{
		padding: 80px 20px;
	}
}
.app-button{
	padding: .6em 1.3em;
	margin: 20px auto;
	border-width: 1;
	border-style: solid;
	border-radius: .3em;
	font-weight: bold;
	display: inline-block;
}
.container-fluid{
	text-align: center;
}